config.mk

*.swp
tags
*.nfs*
*~
\#*
.#*

de2-115/system/*
de2-115/system.qsys.log
de2-115/system.qws
de2-115/system.sof
de2-115/system.sopcinfo
de2-115/system_assignment_defaults.qdf
de2-115/system_tb.csv
de2-115/system_tb.spd
de2-115/test.hex
de2-115/test.stp
de2-115/transcript
de2-115/sim_quick_link.sh
de2-115/simulation/
de2-115/system.cdf
de2-115/output_files/*
de2-115/incremental_db/*
de2-115/db/*
de2-115/.qsys_edit/

ice40ultra/licbug.txt
ice40ultra/stdout.log
ice40ultra/stdout.log.bak
ice40ultra/synlog.tcl
ice40ultra/transcript
ice40ultra/work/
ice40ultraplus/dmem.mem
ice40ultraplus/imem.mem
ice40ultraplus/init_*.dmem
ice40ultraplus/init_*.imem
ice40ultraplus/licbug.txt
ice40ultraplus/stdout.log
ice40ultraplus/stdout.log.bak
ice40ultraplus/synlog.tcl
ice40ultraplus/transcript
ice40ultraplus*/*_Implmnt/
ice40ultraplus/vsim.wlf
ice40ultraplus/vish_stacktrace.vstf
ice40ultraplus/work/

rtl/.qsys_edit/
rtl/transcript

sim/vblox1/*

sim/db/*

*.dump
*.elf

software/obj/
*.swp
*.dump
*.qex
*.mif
*.bin
*.elf
tags

wishbone/cae_library/*
ice40ultra/ice40ultra_Implmnt/*
ice40ultra/init_*.imem
*/test/*
*.sopcinfo
transcript
*/work