# ##############################################################################

# iCEcube PCF

# Version:            2017.01.27914

# File Generated:     Mar 6 2017 14:45:48

# Family & Device:    iCE40UP5K

# Package:            UWG30

# ##############################################################################

###IOSet List 6
set_io rxd A2
set_io spi_miso F1
set_io spi_mosi E1 -pullup yes
set_io spi_sclk D1
set_io spi_ss C1
set_io txd A1

###ProDemote List 1
demote_signal_unbuffered data_wb.stall_0_g

