# ##############################################################################

# iCEcube PCF

# Version:            2016.02.27810

# File Generated:     Jan 3 2017 00:20:53

# Family & Device:    iCE40UP5K

# Package:            UWG30

# ##############################################################################


set_io spi_sclk 15
set_io spi_ss   16
set_io spi_miso 14
set_io spi_mosi 17
