# ##############################################################################

# iCEcube PCF

# Version:            2016.02.27810

# File Generated:     Aug 24 2016 16:45:39

# Family & Device:    iCE40UP5K

# Package:            UWG30

# ##############################################################################

###IOSet List 11
set_io I2C_SCL D5
set_io I2C_SDA E4
set_io i2s_clk C3
set_io i2s_out_lrck F2
set_io i2s_out_sck F5
set_io i2s_out_sdin E5
set_io i2s_sd_mic1_mic2 B1
set_io i2s_ws_mic1_mic2 F4
set_io reset_btn B3 -pullup yes
#set_io rts D5
set_io rxd A4 -pullup yes
set_io txd A1
