# ##############################################################################

# iCEcube PCF

# Version:            2016.02.27810

# File Generated:     Jan 3 2017 00:20:53

# Family & Device:    iCE40UP5K

# Package:            UWG30

# ##############################################################################

###MergeFF List 2
set_io_ff sccb_scl -in ON
set_io_ff sccb_sda -in ON

###IOSet List 19
set_io cam_dat[0] B5
set_io cam_dat[1] A5
set_io cam_dat[2] D5
set_io cam_dat[3] F5
set_io cam_dat[4] C3
set_io cam_dat[5] F4
set_io cam_dat[6] B1
set_io cam_dat[7] F2
set_io cam_href E3
set_io cam_vsync A4
set_io cam_xclk C5
set_io rxd A2
set_io sccb_scl E5
set_io sccb_sda E4
set_io spi_sclk D1
set_io spi_ss C1
set_io txd A1

#boot from flash
set_io spi_miso E1
set_io spi_mosi F1

#boot from jtag
#set_io spi_miso F1
#set_io spi_mosi E1


set_io cdone_led D3
