*.rpt
.qsys_edit/
jtag_init.tcl
qdb/
orca_system/
orca_project/
*_defaults.qdf
db/
quartus_db/
incremental_db/
*.hex
output_files/
*.sof
*.qsys
tmp.*
synlog.tcl
*_Implmnt/
bootmem.mem
init_*.imem
*.smsg
*.rpt*
*.summary
